body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

article {
  flex: 2;
  overflow-y: auto;
  border-width: 20px;
  border-color: rgb(251, 255, 0);
}

aside {
  flex: 1;
  overflow-y: auto;
}
